@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.con-bg {
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 250px;
  box-shadow: 0px 0px 10px 2px rgb(151, 151, 151);
}

.display {
  background: linear-gradient(20deg, rgb(184, 0, 184), orange);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 25px;
}

@media (max-width: 305px) {
  #display {
    padding-right: 24px;
  }
}

.equals-width {
  width: 100%;
  min-height: 52px;
  border-radius: 0 !important;
  border-bottom-right-radius: 5px !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

.equals-bg {
  border-bottom-right-radius: 5px !important;
  background: linear-gradient(20deg, rgb(184, 0, 184), orange);
}

#zero {
  border-bottom-left-radius: 5px !important;
  padding-left: 27px !important;
}

@media (max-width: 279px) {
  #zero {
    padding-left: 20px !important;
  }
}

.buttons-size {
  width: 100%;
  min-height: 52px;
  border-radius: 0 !important;
  background-color: rgb(240, 240, 240) !important;
  font-size: 1.1rem !important;
}

.colors {
  font-weight: bold;
  color: rgb(59, 59, 59) !important;
  background-color: #e0e0e0 !important;
}

#clear {
  color: rgb(184, 0, 184) !important;
  font-weight: 500;
}